{% extends 'base.html' %}

{% from 'render_pagination.html' import render_pagination %}

{% block content %}
<h1 class="mt-4 mb-3">Мероприятия</h1>
{% if events|length == 0 %}
  <div class="alert alert-info" role="alert">
    <strong>Мероприятий не найдено.</strong> Здесь будут отображаться мероприятия.
  </div>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th> Название </th>
        <th> Дата </th>
        <th> Место </th>
        <th> Организатор </th>
        <th> Зарегистрировалось волонтёров </th>
        <th> Требуемое количество волонтёров </th>
        <th> Статус </th>
        <th> Действия </th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td> {{ event.name }} </td>
          <td> {{ event.date }} </td>
          <td> {{ event.location }} </td>
          <td> {{ event.organizer.full_name }} </td>
          <td> {{ event.volunteer_registered }} </td>
          <td> {{ event.volunteer_required }} </td>
          <td> {{ event.status }} </td>
          <td class="user-buttons">
            {% if user_allowed('events', 'show') %}
              <a class="btn btn-primary m-1" href="{{ url_for('events.show', event_id=event.id) }}">Show</a>
            {% endif %}
            {% if user_allowed('events', 'edit') %}
              <a class="btn btn-primary m-1" href="{{ url_for('events.edit', event_id=event.id) }}">Edit</a>
            {% endif %}
            {% if user_allowed('events', 'delete') %}
              <button class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#deleteModal" data-event-id="{{ event.id }}" data-event-name="{{ event.name }}" data-delete-url="{{ url_for('events.delete', event_id=event.id) }}">Delete</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(pagination, 'events.index') }}
{% endif %}
{% if user_allowed('events', 'create') %}
    <a href="{{ url_for('events.new') }}" class="btn btn-primary">Добавить мероприятие</a>
{% endif %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление мероприятия</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить мероприятие <b><span id="deleteEventName"></span></b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
        <form method="post" id="deleteModalForm">
          <button type="submit" class="btn btn-danger">Да</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
{% endblock %}
