{% extends "base.html" %}

{% block content %}
    <h1>Форма</h1>

    <form class="input-form" method="POST">
        <div>
            <label class="form-label" for="theme-input">Тема</label>
            <input id="theme-input" class="form-control" type="text" name="theme" value="{{ request.form.get('theme', '') }}">
        </div>
        <div>
            <label class="form-label" for="text-input">Текст</label>
            <textarea id="text-input" class="form-control" name="text">{{ request.form.get('text', '') }}</textarea>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
    </form>
    
    <table class="table">
        <tbody>
            <th>Field</th>
            <th>Value</th>
            {% for key, value in request.form.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}