{% extends "base.html" %}

{% block content %}
    <h1>Форма проверки номера телефона</h1>

    <form class="input-form" method="POST">
        <div class="is-invalid">
            <label class="form-label" for="phone-input">Телефон</label>
            <input id="phone-input" class="form-control {% if error %}is-invalid{% endif %}" type="tel" name="phone" value="{{ request.form.get('phone', '') }}" required>
            {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endif %}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Проверить</button>
        </div>
    </form>

    {% if formatted_number %}
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        <h4 class="alert-heading">Номер прошел проверку!</h4>
        <p>Ваш номер телефона: <strong>{{ formatted_number }}</strong></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endblock content %}