{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Смена пароля</h1>
<form method="POST">
    <div class="mb-3">
        <label for="old_password" class="form-label">Старый пароль</label>
        <input type="password" class="form-control {% if errors and errors.get('old_password') %}is-invalid{% endif %}" id="old_password" name="old_password" value="{{ form_passwords.old_password or '' }}" required>
        {% if errors and errors.get('old_password') %}
            <div class="invalid-feedback">
                {{ errors['old_password'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input type="password" class="form-control {% if errors and errors.get('new_password') %}is-invalid{% endif %}" id="new_password" name="new_password" value="{{ form_passwords.new_password or '' }}" required>
        {% if errors and errors.get('new_password') %}
            <div class="invalid-feedback">
                {{ errors['new_password'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Подтвердите новый пароль</label>
        <input type="password" class="form-control {% if errors and errors.get('confirm_password') %}is-invalid{% endif %}" id="confirm_password" name="confirm_password" value="{{ form_passwords.confirm_password or '' }}" required>
        {% if errors and errors.get('confirm_password') %}
            <div class="invalid-feedback">
                {{ errors['confirm_password'] }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock %}