body {
    font-size: 1.25rem;
}

#page-wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
    flex-grow: 1;
}

.avatar {
    max-width: 100%;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 30%;
    max-width: 500px;
    margin-bottom: 2rem;
}
.input-form > div {
    display: flex;
    flex-direction: column;
}
