{% extends 'base.html' %}

{% from 'render_pagination.html' import render_pagination %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
  <h1>Журнал посещений</h1>
  {% if user_allowed('visit_logs', 'show_statistics_page') %}
    <div>
      <a href="{{ url_for('visit_logs.pages_visits') }}" class="btn btn-statistics">
        Посещения по страницам
      </a>
      <a href="{{ url_for('visit_logs.users_visits') }}" class="btn btn-statistics">
        Посещения по пользователям
      </a>
    </div>
  {% endif %}
</div>
{% if logs|length == 0 %}
  <div class="alert alert-info" role="alert">
    <strong>Журнал посещений пуст.</strong> Здесь будут отображаться записи о посещениях страниц пользователями.
  </div>
{% else %}
  <table class="table table-hover">
    <thead>
      <tr>
          <th style="width: 80px;"> № </th>
          <th style="width: 250px;"> Пользователь </th>
          <th> Страница </th>
          <th style="width: 180px;"> Дата </th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td> {{ log.id }} </td>
          <td> {% if log.user %} {{ log.user.full_name }} {% else %} Неаутентифицированный пользователь {% endif %} </td>
          <td> {{ log.path }} </td>
          <td> {{ log.created_at_formated }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(pagination, 'visit_logs.index') }}
{% endif %}
{% endblock %}
