{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4 mb-3">Users</h1>
<table class="table">
    <thead>
        <tr>
            <th> № </th>
            <th> username </th>
            <th> last_name </th>
            <th> first_name </th>
            <th> middle_name </th>
            <th> role </th>
            <th> created_at </th>
            <th> actions </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td> {{ loop.index }} </td>
                <td> {{ user.login }} </td>
                <td> {{ user.last_name }} </td>
                <td> {{ user.first_name }} </td>
                <td> {% if user.middle_name %} {{ user.middle_name }} {% endif %} </td>
                <td> {{ user.role.name }} </td>
                <td> {{ user.created_at}} </td>
                <td>
                  <a class="btn btn-primary" href="{{ url_for('users.show', user_id=user.id) }}">View</a>
                  {% if current_user.is_authenticated %}
                    <a class="btn btn-primary" href="{{ url_for('users.edit', user_id=user.id) }}">Edit</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-user-id="{{ user.id }}" data-user-fullname="{{ user.last_name }} {{ user.first_name }}{% if user.middle_name %} {{ user.middle_name }}{% endif %}" data-delete-url="{{ url_for('users.delete', user_id=user.id) }}">Delete</button>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('users.new') }}" class="btn btn-primary">Добавить пользователя</a>
{% endif %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление учетной записи</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить пользователя <b><span id="deleteUserFullname"></span></b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <form method="post" id="deleteModalForm">
          <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
{% endblock %}
